.sort {
    padding-right: 10px;
    padding-top: 3px;
}
#process_tbls thead tr th div.pull-right:nth-child(-n+6):after {
    content: "|";
    padding: 6px;
    font-size: 12px;
}
#process_tbl .table-head {
    background-color: #0E6D9B;
}
.vertical-line {
    border-left: 1px solid white;
    height: 24px;
}
.table tbody tr:hover td,
.table tbody tr:hover th {
    background-color: #e1ffba;
}
.table {
    font-size: 12px;
}
.table-head>th {
    color: white;
    display: inline;
}
#process_tbl .table-head>tr>th {
    height: 50px;
    text-align: left;
    vertical-align: middle;
    padding-left: 10px;
    padding-top: 10px;
}
#process_tbl .table-head>tr>th>div>span>span.caret {
    margin-right: 12px;
}
#process_tbl tr {
    border-bottom: 1pt solid #dddddd;
}
#process_tbl {
    background-color: #F0F0F0;
    margin-bottom: 0px;
}
th {
    color: white;
}
.right-align {
    text-align: right;
}
#logs td {
    background-color: #EEEEEE !important;
}
#logs td,
#logs th {
    border: none !important;
}
#logs tr {
    border-bottom: none;
}
#logs {
    margin-top: none;
    padding-top: none;
}
#logs {
    font-size: 11px !important;
}
.logsDate {
    width: 50px !important;
    text-align: right;
    margin-right: 10px;
}
.logsDescription {
    width: 250px;
    text-align: left;
}
#logs .table-head {
    background-color: #EEEEEE;
}
.selected {
    background-color: #e1ffba !important;
}