
body {
	background-color: #0E6D9B;
}

#wrapper {
	width: 100%;
}

#page-wrapper {
	padding: 0 15px;
	min-height: 568px;
	background-color: white;

-webkit-box-shadow: inset 2px 0px 38px -14px rgba(0,0,0,0.76);
-moz-box-shadow: inset 2px 0px 38px -14px rgba(0,0,0,0.76);
box-shadow: inset 2px 0px 38px -14px rgba(0,0,0,0.76);
}
@media (min-width: 768px) {
	#page-wrapper {
		position: inherit;
		margin: 0 0 0 250px;
		padding: 0 30px;
		border-left: 1px solid #e7e7e7;
	}
}

.btn-circle {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 15px;
}

#AddProcess-btn {
	margin-top: 2px;
	margin-bottom: 2px;
}
.bg-default{
	margin-bottom: 0;
}

.input-group .search{
	background-color :red !important;
}




