.navbar-top-links {
	margin-right: 0;
}
.navbar-top-links li {
	display: inline-block;
}
.navbar-top-links li:last-child {
	margin-right: 15px;
}
.navbar-top-links li a {
	padding: 15px;
	min-height: 50px;
}
.navbar-top-links .dropdown-menu li {
	display: block;
}
.navbar-top-links .dropdown-menu li:last-child {
	margin-right: 0;
}
.navbar-top-links .dropdown-menu li a {
	padding: 3px 20px;
	min-height: 0;
}
.navbar-top-links .dropdown-menu li a div {
	white-space: normal;
}
.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
	width: 310px;
	min-width: 0;
}
.navbar-top-links .dropdown-messages {
	margin-left: 5px;
}
.navbar-top-links .dropdown-tasks {
	margin-left: -59px;
}
.navbar-top-links .dropdown-alerts {
	margin-left: -123px;
}
.navbar-top-links .dropdown-user {
	right: 0;
	left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
	padding-left: 0;
	padding-right: 0;
	color: #FFFFFF;
}
.sidebar .sidebar-search {
	padding: 15px;
}
.sidebar ul li {
	border-bottom: 1px solid #e7e7e7;
}

.sidebar .arrow {
	float: right;
}
.sidebar .fa.arrow:before {
	content: "\f104";
}
.sidebar .active > a > .fa.arrow:before {
	content: "\f107";
}
.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
	border-bottom: none !important;
}
.sidebar .nav-second-level li a {
	padding-left: 37px;
}
.sidebar .nav-third-level li a {
	padding-left: 52px;
}
@media (min-width: 768px) {
	.sidebar {
		z-index: 1;
		position: absolute;
		width: 250px;
		margin-top: 51px;
	}
	.navbar-top-links .dropdown-messages,
	.navbar-top-links .dropdown-tasks,
	.navbar-top-links .dropdown-alerts {
		margin-left: auto;
	}
}

.navbar-inverse { 
	background-color: #0E6D9B;
}
.navbar-inverse .nav>.active>a:hover,.navbar-inverse .nav>li>a:hover, .navbar-inverse .nav>li>a:focus { background-color: #5DBCD2}
.navbar-inverse .nav>.active>a,.navbar-inverse .nav>.open>a,.navbar-inverse .nav>.open>a, .navbar-inverse .nav>.open>a:hover,.navbar-inverse .nav>.open>a, .navbar-inverse .nav>.open>a:hover, .navbar-inverse .nav>.open>a:focus { background-color: #5DBCD2}
.dropdown-menu { background-color: #FFFFFF}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #5DBCD2}
.navbar-inverse { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-inverse { border-color: #FFFFFF}
.navbar-inverse .navbar-brand { color: #FFFFFF}
.navbar-inverse .navbar-brand:hover { color: #FFFFFF}
.navbar-inverse .nav>li>a { color: #FFFFFF}
.navbar-inverse .nav>li>a:hover, .navbar-inverse .nav>li>a:focus { color: #FFFFFF}
.navbar-inverse .nav>.active>a,.navbar-inverse .nav>.open>a, .navbar-inverse .nav>.open>a:hover, .navbar-inverse .nav>.open>a:focus { color: #FFFFFF}
.navbar-inverse .nav>.active>a:hover, .navbar-inverse .nav>.active>a:focus { color: #FFFFFF}
.dropdown-menu>li>a { color: #000000}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #FFFFFF}
.navbar-inverse .nav>.dropdown>a .caret { border-top-color: #FFFFFF}
.navbar-inverse .nav>.dropdown>a:hover .caret { border-top-color: #FFFFFF}
.navbar-inverse .nav>.dropdown>a .caret { border-bottom-color: #FFFFFF}
.navbar-inverse .nav>.dropdown>a:hover .caret { border-bottom-color: #FFFFFF}